
<!-- place in header of your html document -->

<!--
<script type="text/javascript">
        /*tinymce definition*/
        tinymce.init({
            selector: "textarea.tinymce",
            theme: "modern",
            height: 10,
            plugins: [
                 "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker example",
                 "searchreplace visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                 "save table contextmenu directionality emoticons template paste textcolor wordcount"
           ],
           content_css: "css/content.css",
           toolbar: "insertfile undo redo | styleselect | save | table | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons charmap code | hr paste pagebreak searchreplace spellchecker template visualblocks insertdatetime", 
           style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ]
         });
    </script>

-->

<!-- place in header of your html document -->
<script>
tinymce.init({
    selector: "textarea#elm1",
    theme: "modern",
    width: 600,
    height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"

   ],
   content_css: "css/content.css",
   toolbar: "save newdocument|insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons", 
   style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ]
 }); 



</script>

<style>
    .top-buffer { margin-top:20px; }
 </style>


<!--[if gte mso 9]>
<style _tmplitem="277" >
.article-content ol, .article-content ul {
   margin: 0 0 0 24px;
   padding: 0;
   list-style-position: inside;
}
</style>
<![endif]--></head>


<!--<form id="ss" method="post" style="margin-top: 40px;">-->

<!--
 <div class="page-content">
        <form action="users" method="post" role="form">
            Title:<br/> <input type="text" name="title" style="width:100%"/><br/> <br /> Your Text:<br/>
            <textarea name="content" class="tinymce" cols="30" rows="10" ></textarea>
            <br /> <br /> <input type="submit" name="submit" />
        </form>
    </div>

-->
<!-- place in body of your html document -->
<h1 class="text-center white">Editing Content</h1>

<%= simple_form_for Newsletter.new, html: {class: "form-signin"} do |f| %>
<div class="row top-buffer">

<%= f.input :template, label: false, required: true, autofocus: true,placeholder: "Email Name", input_html: {class:  "pull-left"} %>
</div>

<div class="row top-buffer">

<div class ="center">
<textarea id="elm1" name="area"></textarea> </div>

</div></div>



 <div class="col-sm-1 col-sm-offset-0">       

   <%= f.button :submit, 'Save', class: "btn btn-primary btn-block" %>
    <%= f.button :button, 'Reset', :type => 'reset', class: "btn btn-primary btn-block" %>
    
</div>
</div>
</div>





  <% end %>

<!--
<textarea id="elm1" name="area"></textarea>
                                    <!-- place in body of your html document -->


   
              
