<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3">
<div class="jumbotron text-center">
<h2><i class="fa fa-rebel"></i> Bistro</h2>
<p class="small">Welcome to the Bistro Application</p>

<div class="col-sm-2 col-sm-offset-5", "text-center" >  
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-md btn-block" %>
</div>


</div>
</div>
</div>
</div>



